# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out
coverage.out
pkg/db/*.db
.hyperrr/
*.db

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env
!.env.example

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Go dependencies
vendor/

# Generated GraphQL files
api/graph/generated.go
api/graph/model/models_gen.go
api/graph/schema_gen/
